<?xml version="1.0"?>

<PropertyList>
  
  <name>PC-9M Menu</name>

  <default>
    <menu n="100">
      <label>Pilatus PC-9</label>
      <enabled type="bool">true</enabled>

      <item>
        <label>Autostart</label>
        <binding>
          <command>property-toggle</command>
          <property>controls/engines/start1</property>
        </binding>
        <binding>
          <command>property-toggle</command>
          <property>controls/engines/run1</property>
        </binding>
        <binding>
          <command>property-toggle</command>
          <property>controls/engines/abort1</property>
        </binding>
        <mod-up>
          <binding>
            <command>null</command>
          </binding>
        </mod-up>
      </item>

      <item>
        <label>Aircraft Options</label>
        <binding>
          <command>dialog-show</command>
          <dialog-name>aircraft-dialog</dialog-name>
        </binding>
      </item>

      <item>
        <label>Select Livery</label>
        <binding>
          <command>nasal</command>
          <script>aircraft.livery.dialog.toggle()</script>
        </binding>
      </item>

    </menu>
  </default>
</PropertyList>
